@import url("https://fonts.cdnfonts.com/css/agency-fb");

html {
    height: 100%;
}

body {
    color: black;
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

/* Navbar */

.nav {
    padding: 1% 0px;
    background-color: rgba(37, 37, 37, 0.274);
    backdrop-filter: blur(10px);
    flex-direction: row;
    align-items: center;
    font-family: "Agency FB", sans-serif;
    font-size: 20px;
}

.nav-link {
    color: white;
    display: flex;
    margin: 0px 20px;
}

.navbar-logo {
    padding: 0px 20px;
}

.nav-link:hover {
    color: #f76008;
}
.nav-link:focus {
    color: #d1d1d1;
}

/*User Statistics*/
.Statistics-bar-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 20px 100px -30px black;
    backdrop-filter: blur(25px);
    padding: 25px;
    margin-bottom: 25px;
    gap: 80px;
    z-index: -1;
    cursor: default;
    font-family: "Agency FB", sans-serif;
    color: white;
    font-size: 25px;
}

.Statistics-Numbers {
    font-size: 30px;
}

/* Text */

/* Game Buttons */
.game-button {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    background: #f76008bb;
    position: relative;
    font-family: "Agency FB", sans-serif;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s;
}

.game-button img {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.game-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: 40px;
}

.game-button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.content {
    text-align: center;
    margin: 2%;
    position: relative;
    text-align: center;
}

.hover-text {
    color: transparent;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0%;
    z-index: +1;
    width: 100%;
    height: 77.6%;
    overflow: hidden;
    opacity: 0.3;
}

.hover-text:hover {
    font-family: "Agency FB", sans-serif;
    display: flex;
    text-align: center;
    transition: all 0.4s;
    color: white;
    background: rgb(131, 58, 180);
    background: linear-gradient(180deg, rgba(131, 58, 180, 1) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    overflow: hidden;
    opacity: 1;
}

.game-button:hover {
    color: #ffae00;
    transform: scale(1.2);
}

.row {
    display: flex;
}

/* Carousel */

#carousel-object {
    margin: auto;
    width: 549px;
    height: 178px;
}

.carousel-item img {
    position: absolute;
    object-fit: fill;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
}

.carousel-inner {
    height: 100%;
    border-radius: 40px;
}

/* Homepage Text*/

.title {
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 20px 100px -30px black;
    backdrop-filter: blur(25px);
    padding: 1rem;
    text-align: center;
    color: white;
    font-family: "Agency FB", sans-serif;
    font-size: 55px;
}

.footer {
    margin: auto;
    margin-top: 80px;
    box-shadow: 0 20px 100px -30px black;
    backdrop-filter: blur(25px);
    padding: 1rem;
    text-align: center;
    height: 100px;
    color: white;
    font-family: "Agency FB", sans-serif;
    font-size: 25px;
}

/* Profile Text */
.ProfileTitle {
    background: linear-gradient(rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
    border-radius: 25px;
    text-align: center;
    border: 5px solid #7f2205;
    color: white;
    font-family: "Agency FB", sans-serif;
    font-size: 55px;
}

.ProfileDescription {
    background: linear-gradient(rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
    border-radius: 25px;
    text-align: center;
    border: 5px solid #7f2205;
    color: white;
    font-family: "Agency FB", sans-serif;
    font-size: 55px;
}
.DescriptionTitles {
    border-radius: 25px;
    text-align: left;
    padding-left: 250px;
    color: white;
    font-family: "Agency FB", sans-serif;
    font-size: 55px;
}

/* Profile card */

.profile-card {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    box-shadow: 0 20px 100px -30px black;
    border-radius: 50px;
    width: 500px;
    backdrop-filter: blur(25px);
    padding: 3rem 5rem;
    flex-direction: column;
    gap: 40px;
    z-index: -1;
    cursor: default;
}

.profile-card-image img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 10px 60px -20px black;
}

.profile-card-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile-card-description h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

.profile-card-info {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.profile-card-info > div > *:first-child {
    font-weight: bold;
    font-size: 2rem;
    transition: 0.2s;
}

.profile-card-info > div > *:last-child {
    font-weight: bold;
    font-size: 1rem;
}

.profile-card-info > div > *:first-child:hover {
    transform: translateY(-3px);
    transform: scale(1.2);
    cursor: default;
    transition: 0.2s;
}

#cookie-bonuspoints {
    color: goldenrod;
}

#cookie-bonuspointsgained {
    color: rgb(0, 140, 0);
}

#cookie-bonuspointslost {
    color: rgb(150, 0, 0);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
