html {
    height: 100%;
}

body {
    color: black;
}

/* Navbar */
.nav {
    padding-top: 1%;
}

.nav-link {
    color: white;
}
.nav-link:hover {
    color: #d1d1d1;
}
.nav-link:focus {
    color: #d1d1d1;
}

/* Background image */

.bg-image {
    background-image: url("/images/background.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -100;
}
